    body {
        font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
        color: #404040;
        background: #eee;
    }

    .customer{
        position: relative;
        margin: 170px auto 10px;
        padding: 15px 50px 15px 50px;
        width: 90%;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
    }

    .information{
        display: inline-block;
        margin: 10px 15px 10px 10;
        padding: 0 20px 0 0;
        vertical-align: middle;
        text-align:center;
        font-size: 50px;
    }

    .widget {
        position: relative;
        margin: 10px auto 50px;
        padding: 80px 50px 50px 50px;
        width: 90%;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
    }

    .title{
        position: relative;
        margin: 60px auto;
        width: 100%;
        height: 10px;
        font-size: 50px;
        color: #411900;
        text-align: center;
    }

    .widget-tabs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 9px 11px 0px 11px;
        text-align: left;
        direction: rtl;
        background: #ffffff;
        border-bottom: 1px solid #ddd;
        border-radius: 3px 3px 0 0;
    }

    .widget-tab,
    .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab,
    .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab,
    .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3) ~ .widget-tab,
    .widget-list:target:nth-of-type(4) ~ .widget-tabs > .widget-tab:nth-child(4) ~ .widget-tab,
    .widget-list:target:nth-of-type(5) ~ .widget-tabs > .widget-tab:nth-child(5) ~ .widget-tab,
    .widget-list:target:nth-of-type(6) ~ .widget-tabs > .widget-tab:nth-child(6) ~ .widget-tab,
    .widget-list:target:nth-of-type(7) ~ .widget-tabs > .widget-tab:nth-child(7) ~ .widget-tab,
    .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
        line-height: 100px;
        font-size: 30px;
        font-weight: normal;
        color: #999;
        background: #fcfcfc;
        border: solid #ddd;
        border-width: 1px 1px 0;
        border-radius: 5px 5px 0 0;
        padding-bottom: 0;
        bottom: auto;
    }

    .widget-tab > .widget-tab-link,
    .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
    .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
    .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3) ~ .widget-tab > .widget-tab-link,
    .widget-list:target:nth-of-type(4) ~ .widget-tabs > .widget-tab:nth-child(4) ~ .widget-tab > .widget-tab-link,
    .widget-list:target:nth-of-type(5) ~ .widget-tabs > .widget-tab:nth-child(5) ~ .widget-tab > .widget-tab-link,
    .widget-list:target:nth-of-type(6) ~ .widget-tabs > .widget-tab:nth-child(6) ~ .widget-tab > .widget-tab-link,
    .widget-list:target:nth-of-type(7) ~ .widget-tabs > .widget-tab:nth-child(7) ~ .widget-tab > .widget-tab-link,
    .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
        width: 205px;
        height: 100px;
        border-top: 0;
    }

    .widget-tab + .widget-tab {
        margin-right: -1px;
    }

    .widget-tab:last-child,
    .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
    .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
    .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3),
    .widget-list:target:nth-of-type(4) ~ .widget-tabs > .widget-tab:nth-child(4),
    .widget-list:target:nth-of-type(5) ~ .widget-tabs > .widget-tab:nth-child(5),
    .widget-list:target:nth-of-type(6) ~ .widget-tabs > .widget-tab:nth-child(6),
    .widget-list:target:nth-of-type(7) ~ .widget-tabs > .widget-tab:nth-child(7),
    .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
        bottom: -1px;
        margin-top: 0;
        padding-bottom: 2px;
        line-height: 100px;
        font-weight: bold;
        color: #555;
        background: white;
        border-top: 0;
    }

    .widget-tab:last-child > .widget-tab-link,
    .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
    .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
    .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3) > .widget-tab-link,
    .widget-list:target:nth-of-type(4) ~ .widget-tabs > .widget-tab:nth-child(4) > .widget-tab-link,
    .widget-list:target:nth-of-type(5) ~ .widget-tabs > .widget-tab:nth-child(5) > .widget-tab-link,
    .widget-list:target:nth-of-type(6) ~ .widget-tabs > .widget-tab:nth-child(6) > .widget-tab-link,
    .widget-list:target:nth-of-type(7) ~ .widget-tabs > .widget-tab:nth-child(7) > .widget-tab-link,
    .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
        margin: 0px -1px;
        border-top: 5px solid #c01b05;
    }

    .widget-tab-link {
        display: block;
        min-width: 60px;
        padding: 0 14px 0 15px;
        color: #411900;
        text-align: center;
        text-decoration: none;
        border-radius: 4px 4px 0 0;
    }

    .widget-list {
        display: none;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .widget-list > li + li {
        border-top: 1px solid #e8e8e8;
    }

    .widget-list:last-of-type {
        display: block;
    }

    .widget-list:target {
        display: block;
    }

    .widget-list:target ~ .widget-list {
        display: none;
    }

    .midashi1{
        display: inline-block;
        width: 35%;
        height: 50px;
        text-align:center;
        font-size: 30px;
    }

    .midashi2{
        display: inline-block;
        width: 20%;
        height: 50px;
        text-align:center;
        font-size: 30px;
    }

    .widget-list-link1 {
        position: relative;
        display: inline-block;
        width: 35%;
        line-height: 120px;
        text-align:center;
        font-size: 35px;
        font-weight: bold;
        color: #555;
        border-top: 1px solid #1f1e1e;
        border-right: 1px solid #1f1e1e;
    }

    .widget-list-link2 {
        position: relative;
        display: inline-block;
        width: 20%;
        line-height: 120px;
        text-align:center;
        font-size: 35px;
        font-weight: bold;
        color: #555;
        border-top: 1px solid #1f1e1e;
        border-right: 1px solid #1f1e1e;
    }
    .widget-list-link3 {
        position: relative;
        display: inline-block;
        width: 63%;
        line-height: 120px;
        text-align:center;
        font-size: 35px;
        font-weight: bold;
        color: #555;
        border-top: 1px solid #1f1e1e;
        border-right: 1px solid #1f1e1e;
    }

    .widget-list-link1:hover {
        background: #f7f7f7;
    }

    .widget-list-link2:hover {
        background: #f7f7f7;
    }

    .widget-list-link3:hover {
        background: #f7f7f7;
    }


    li:last-child > .widget-list-link1 {
        border-radius: 0 0 3px 3px;
    }

    li:last-child > .widget-list-link2 {
        border-radius: 0 0 3px 3px;
    }
    li:last-child > .widget-list-link3 {
        border-radius: 0 0 3px 3px;
    }

    ol{
        list-style: none;
    }

    .quantity{
        width: 50%;
        height: 70px;
        font-size: 35px;
    }

    img{
        vertical-align: middle;
    }

    header {
        position: fixed;
        background: linear-gradient(180deg, #411900 0%, #411900 30%, rgb(223, 219, 219) 30%, rgb(223, 219, 219) 100%);
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        height: 150px;
        width: 100%;
        }
    
    footer {
        position: fixed;
        background: linear-gradient(0deg, #411900 0%, #411900 30%, rgb(223, 219, 219) 30%, rgb(223, 219, 219) 100%);
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        height: 150px;
        width: 100%;
        }


        .btnspinner{
            -ms-user-select: none;
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        
        .widget-list-link3 input{
            padding: 11px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 30px;
            width: auto;
            vertical-align: middle;
            /* デフォルトのスピナーを消す */
            -webkit-appearance: none;
            -moz-appearance:textfield;
        }
        
        .widget-list-link3 input[type="button"]{
            cursor: pointer;
        }