body {
    font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
    color: #404040;
    background: rgb(255, 255, 255);
    }
/* 全体 */
    .widget {
        position: relative;
        margin: 150px 20px 50px 0;
        padding: 80px 50px 50px 0px;
        width: 100%;
        background: white;
        border-top: 1px solid #ccc;
        border-radius: 4px;
        text-align: center;
    }

    .title{
        position: absolute;
        top: 0px;
        left: 38%;
        font-size: 60px;
    }
    .back{
        position: absolute;
        top: 35px;
        left: 100px;
        font-size: 40px;
    }
    .back a{
        color: #404040;
        text-decoration: none;
        z-index: 999;
    }

/* 注文待ち、注文済み、提供済みのタブ全体 */
    .widget-tabs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 9px 12px 0px 12px;
        text-align: left;
        direction: rtl;
        background: #f5f5f5;
        border-bottom: 1px solid #ddd;
        border-radius: 3px 3px 0 0;
    }
/* 開いていないタブ */
    .widget-tab,
    .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab,
    .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab,
    .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3) ~ .widget-tab,
    .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
        line-height: 100px;
        font-size: 40px;
        font-weight: normal;
        color: #999;
        background: #fcfcfc;
        border: solid #ddd;
        border-width: 1px 1px 0;
        border-radius: 5px 5px 0 0;
        padding-bottom: 0;
        bottom: auto;
    }
/* 開いてるタブとその他のタブの大小 */
    .widget-tab > .widget-tab-link,
    .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
    .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
    .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3) ~ .widget-tab > .widget-tab-link,
    .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
        width: 280px;
        height: 100px;
        border-top: 0;
    }
/* タブの重なり具合 */
    .widget-tab + .widget-tab {
        margin-right: -1px;
    }
/* 開いているタブ */
    .widget-tab:last-child,
    .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
    .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
    .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3),
    .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
        bottom: -1px;
        margin-top: 0;
        padding-bottom: 2px;
        line-height: 100px;
        font-weight: bold;
        color: #411900;
        background: rgb(255, 255, 255);
        border-top: 0;
    }

    .widget-tab:last-child > .widget-tab-link,
    .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
    .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
    .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3) > .widget-tab-link,
    .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
        margin: 0 -1px;
        border-top: 5px solid #c01b05;
    }

    .widget-tab-link {
        display: block;
        min-width: 60px;
        padding: 0 15px;
        color: #411900;
        text-align: center;
        text-decoration: none;
        border-radius: 4px 4px 0 0;
    }

    .widget-list {
        display: none;
        padding-top: 80px;
        padding-left: 0px;
    }

    .widget-list:last-of-type {
        display: block;
    }

    .widget-list:target {
        display: block;
    }

    .widget-list:target ~ .widget-list {
        display: none;
    }

    .midashi{
        display: inline-block;
        width: 24%;
        height: 50px;
        text-align:center;
        font-size: 30px;
    }

    .midashi-all{
        border-bottom: 1px solid #1f1e1e;
    }

    .list{
        margin: 10px;
        border-bottom: 1px solid #1f1e1e;
    } 

    .widget-list-link1 {
        margin: 10px 0 10px 0;
        position: relative;
        display: inline-block;
        width: 24%;
        line-height: 120px;
        text-align:center;
        font-size: 40px;
        font-weight: bold;
        color: #555;
        border-right: 2px solid #dbdbdb;
    }

    .widget-list-link2 {
        position: relative;
        display: inline-block;
        width: 16%;
        line-height: 120px;
        text-align:center;
        font-size: 40px;
        font-weight: bold;
        color: #555;
        border-right: 1px solid #dbdbdb;
    }

    li:last-child > .widget-list-link1 {
        border-radius: 0 0 3px 3px;
    }

    li:last-child > .widget-list-link2 {
        border-radius: 0 0 3px 3px;
    }

    ol{
        list-style: none;
    }
    
        header {
            position: fixed;
            background: linear-gradient(180deg, #411900 0%, #411900 30%, rgb(223, 219, 219) 30%, rgb(223, 219, 219) 100%);
            top: 0;
            right: 0;
            left: 0;
            z-index: 100;
            height: 150px;
            width: 100%;
            }
        
            footer {
                position: fixed;
                background: linear-gradient(0deg, #411900 0%, #411900 25%, rgb(223, 219, 219) 25%, rgb(223, 219, 219) 100%);
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 1000;
                height: 200px;
                width: 100%;
                }

            .button{    
                display       : inline-block;
                height: 70px;
                border-radius : 5%;          /* 角丸       */
                font-size     : 30pt;        /* 文字サイズ */
                text-align    : center;      /* 文字位置   */
                cursor        : pointer;     /* カーソル   */
                padding       : 12px 51px;   /* 余白       */
                background    : #c01b05;     /* 背景色     */
                color         : #ffffff;     /* 文字色     */
                line-height   : 70px;         /* 1行の高さ  */
                transition    : .3s;         /* なめらか変化 */
                border        : 2px solid #c01b05;    /* 枠の指定 */
            }

    a{
        text-decoration: none;
    }